<md-toolbar color="primary">
    {{title}}
    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="app-content">
    <!-- <md-card>
        Search from soundcloud/spotify/youtube
        <button md-raised-button md-tooltip="Search your media">Search</button>
    </md-card> -->
    <md-card>
        <h2><md-icon>library_music</md-icon>Song List</h2>
        <md-divider></md-divider>
        <md-list>
            <md-list-item *ngFor="let song of songList" [class.selected]="song === selectedSong">
                <a (click)="onStopSong(song)" md-list-avatar *ngIf="song === selectedSong"><md-icon>pause_circle_outline</md-icon></a>
                <a (click)="onSelect(song)" md-list-avatar *ngIf="song !== selectedSong"><md-icon>play_circle_outline</md-icon></a>
                <h3 md-line> {{song.title}} </h3>
                <p md-line>
                    <span> {{song.year}} </span>
                    <span> -- {{song.description}} </span>
                </p>
            </md-list-item>
        </md-list>
    </md-card>

<!-- <md-card>
  <md-spinner class="app-spinner"></md-spinner>
  <md-spinner color="accent" class="app-spinner"></md-spinner>
</md-card> -->

</div>

<footer *ngIf="selectedSong" class="player-bottom fixed bottom full-width">
    <!-- media player -->
    <md-grid-list cols="4" rowHeight="50px" gutterSize="10px">
        <md-grid-tile colspan="1">
            {{selectedSong.title}}<br>
            {{selectedSong.description}}
            <!-- song cover -->
            <!-- vertical divider -->
            <!-- song title -->
            <!-- singer -->
        </md-grid-tile>
        <md-grid-tile colspan="2">
            <!-- prev -->
            <!-- <md-icon color="secondary">skip_previous</md-icon> -->
            <!-- play -->
            <!-- <md-icon>play_circle_filled</md-icon> -->
            <!-- next -->
            <!-- <md-icon disabled>skip_next</md-icon> -->
            <!-- repeat -->
            <!-- <md-icon>repeat</md-icon> -->
            <!-- divider -->
            <!-- time to end of song || track line || song time length -->
            <!-- <audio src="{{selectedSong.url}}" autoplay autobuffer autoloop loop controls></audio> -->
        </md-grid-tile>
        <md-grid-tile colspan="1">
            <a (click)="toggleVolume()">
                <md-icon *ngIf="mutedSong">volume_off</md-icon>
                <md-icon *ngIf!="mutedSong">volume_mute</md-icon>
            </a>
            <md-slider max="MAX_VOLUME" step="10" [value]="volumeValue" (change)="onVolumeChange(volumeSlider.value)" #volumeSlider></md-slider>
        </md-grid-tile>
    </md-grid-list>
</footer>